

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    
}



/* navbar */
#navbar{
    background-color: rgb(30, 109, 201);
}
#logo{
    margin-left: 15px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 6px;
}
#logo span{
    color: #87CEEB;
}
#logo #span1{
    font-size: 30px;
}
.navbar-nav{
    margin-left: 20px;
}
.nav-item{
    margin-left: 10px;
}
.nav-item .nav-link{
    color: white;
    margin-left: 2px;
    text-shadow: 0px 0px 1px black;
    transition: 0.5s ease;
}
.nav-item .nav-link:hover{
    color: #87CEEB;
}
.dropdown-menu li a{
    color: black;
    transition: 0.5s ease;
}
.dropdown-menu li a:hover{
    background-color: #F7F7F7;
    color: #87CEEB;
}

#search input{
    border-radius: 50px;
    border: none;
}
#search button{
    border-radius: 50px;
    color: white;
    border: 1px solid #40E0D0;
    background-color: #40E0D0;
    
}
/* carrousel */

.custom-carousel-image  {
    height: 500px; /* Réglez cette valeur selon vos préférences */
    width: auto; /* Ajustez la largeur automatiquement pour préserver les proportions */
}

.carousel-caption {
    position: absolute;
    top: 0;
    left: 0;
    left: 0;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.5); /* Ajoute un fond semi-transparent pour une meilleure lisibilité */
}

@media (min-width: 768px) {
    .carousel-caption {
        left: initial;
        padding-right: 2rem; /* Ajoute un espace à droite pour une meilleure lisibilité */
    }
}

.carousel-caption {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 1rem;
    background-color: transparent; /* Ajoute un fond semi-transparent pour une meilleure lisibilité */
    font-family: "Salsa", cursive;
    font-size: 6em; /* Ajuste la taille de la police à 1.5em pour agrandir le texte */
    text-align: left;
    white-space: nowrap; /* Empêche le texte de se casser sur plusieurs lignes */
    overflow: hidden; /* Cache le texte qui dépasse de la zone */
    
}

/* footer */
#footer{
    padding: 0 0 30px 0px;
    color: white;
    font-size: 14px;
    background-color: rgb(30, 109, 201);
    margin-top: 100px;
}
#footer .footer-top{
    padding: 60px 0 30px 0;
    background-color:rgb(30, 109, 201);
    color: white;
}
#footer .footer-top .footer-contact{
    margin-bottom: 30px;
}
#footer .footer-top .footer-contact h3{
    color: #ffc800;
}
#footer .footer-top .footer-contact h4{
    font-size: 22px;
    margin: 0 0 30px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
}
#footer .footer-top .footer-contact p{
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    color: white;
}
#footer .footer-top h4{
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
}
#footer .footer-top .footer-links{
    margin-bottom: 30px;
    margin-top: 10px;
}
#footer .footer-top .footer-links h4{
    color: #ffc800;
}
#footer .footer-top .footer-links ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
#footer .footer-top .footer-links ul li{
    padding: 10px 0;
    display: flex;
    align-items: center;
}
#footer .footer-top .footer-links ul li a{
    text-decoration: none;
    color: white;
    display: inline-block;
    line-height: 1;
    font-weight: bold;
    transition: 0.5s ease;
}
#footer .footer-top .footer-links ul li a:hover{
    color: #87CEEB;
}
#footer .footer-top .socail-links a{
    font-size: 18px;
    display: inline-block;
    text-decoration: none;
    background-color: #373737;
    color: white;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    transition: 0.5s ease;
}
#footer .footer-top .socail-links a:hover{
    background-color: #87CEEB;
    color: white;
}
#footer .copyright{
    text-align: center;
    float: left;
}
#footer .credits{
    float: right;
    text-align: center;
    font-size: 13px;
}
#footer .credits a{
    color: #87CEEB;
}
/* footer */





